.features {
  grid-column: center-start / center-end;
  margin: 16rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  grid-template-rows: auto auto;
  gap: 4rem 6rem;
  align-items: start;

  @media only screen and (max-width: $bp-small) {
    margin: 9.6rem auto;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1.6rem;
  grid-row-gap: 0.8rem;

  @media only screen and (max-width: $bp-small) {
    padding: 1.6rem 3.2rem;
    grid-column-gap: 4.8rem;
    grid-template-columns: min-content minmax(40rem, 1fr);
  }

  &__icon {
    fill: $color-primary;
    width: 3.2rem;
    height: 3.2rem;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.6rem;
    // grid-column: 1 / span 2;
  }
}
