.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 2.8rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 /-1;
    padding: 4.8rem auto;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-content: center;
    row-gap: 5vh;
    column-gap: 1.6rem;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
      column-gap: 2.4rem;
      margin-bottom: 4.8rem;
      row-gap: 4vh;
    }
  }

  &__heading-3 {
    @media only screen and (max-width: $bp-medium) {
      margin-top: 4.8rem;
    }
  }
}

.realtor {
  &__img {
    display: block;
    width: 5.2rem;
    border-radius: 50%;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    font-weight: 400;
    margin-top: -3px;
  }
}
